
{% set supervisord = salt['grains.filter_by']({
    'default': {
        'pkg': 'supervisor',
        'service': 'supervisord',
        'config': '/etc/supervisord.conf',
    },
}, merge=salt['pillar.get']('supervisord:lookup')) %}


